
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    overflow-x: hidden;
}
h1{
    font-family: 'Righteous';
}
h2{
    font-family: 'Roboto';
}

a{
    font-family: 'Roboto';
}
button{
    font-family: 'Righteous';

}
.tl-edges{
    overflow-x:visible;
}

#tsparticles {
    overflow-x:visible;
}